/* body {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }
   */
  /* img {
    width: 100%;
  } */
  
  .siema {
    margin: 1rem 0;
  }

  #form{
      margin-left: 490px;
  }
  
  #paginate_form{

    margin-left:10px;
  }

  